<!DOCTYPE html>
<html lang="en">
    {% include 'shared/head.html.j2' %}
    <body>
        {% include 'shared/nav.html.j2' %}
        <div id='settingsNewAutofs' class="text-center">
            <p style="font-size:20px">All fields are required</p>
            <p>enter group names one per line</p>
            <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
            <p>
                <input type="hidden" name="selected_option" id="selectedOption">
            </p>
            <p>
                <input type="submit"
                       name="submit_button"
                       class="btn btn-outline-primary"
                       value="AddAutofsGroup"
                       onclick="setSelectedOption('newautofs')">
            </p>
        </div>
    </body>
</html>
