<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<form action="/form" method="POST">
	<h3>Source Options</h3>
	<select id="sourceBox" multiple>
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
		<option value="3">Option 3</option>
		<option value="4">Option 4</option>
		<option value="5">Option 5</option>
		<option value="6">Option 6</option>
		<option value="7">Option 7</option>
		<option value="8">Option 8</option>
		<option value="9">Option 9</option>
	</select>
	<br><br>
	<button id="copyBtn" type="button">Copy</button>
	<input type="submit" value="Submit">
	<br><br>
	<h3>Destination Options</h3>
	<select id="destinationBox" multiple></select>

	<script>
		const sourceBox = document.getElementById('sourceBox');
		const destinationBox = document.getElementById('destinationBox');
		const copyBtn = document.getElementById('copyBtn');

		copyBtn.addEventListener('click', () => {
			for (const option of sourceBox.options) {
				if (option.selected) {
					const newOption = new Option(option.text, option.value);
					destinationBox.add(newOption);
				}
			}
		});
	</script>
</form>
</body>
</html>
