<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>GUAM Grit User and AutoFS Manager</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<form action = /result method = "POST" >
    <p style="font-size:20px" class="text-center">Welcome to GUAM (GRIT User and AutoFS Manager)</p>
    <p style="font-size:15px" class="text-center">
        This page will assist you with creating new users and managing AutoFS mounts</p>

{% if result %}
  <script>
    // Get the result value
    const resultValue = "{{ result }}";

    // Show the Bootstrap toast with the result value
    const toast = document.createElement('div');
    toast.classList.add('toast');
    toast.classList.add('show');
    toast.setAttribute('role', 'alert');
    toast.setAttribute('aria-live', 'assertive');
    toast.setAttribute('aria-atomic', 'true');
    toast.innerHTML = `
      <div class="toast-header mx-auto text-center">
        <strong class="mr-auto">Result</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span> dismiss
        </button>
      </div>
      <div class="toast-body mx-auto text-center">
        ${resultValue}
      </div>
    `;
    document.body.appendChild(toast);

    // Hide the Bootstrap toast when the dismiss button is clicked
    toast.querySelector('.close').addEventListener('click', () => {
      document.body.removeChild(toast);
    });
  </script>
{% endif %}

    <SCRIPT>
	function show(select_item) {
  const settings = [
    {
      name: "adduser",
      element: document.getElementById("settingsAddUser"),
    },
    {
      name: "modautofs",
      element: document.getElementById("settingsModAutofs"),
    },
    {
      name: "newautofs",
      element: document.getElementById("settingsNewAutofs"),
    },
    {
      name: "newsecgroup",
      element: document.getElementById("settingsNewSecgroup"),
    },
    {
      name: "AFSmanager",
      element: document.getElementById("settingsAFSmanager"),
    },
  ];

  settings.forEach((setting) => {
    if (setting.name === select_item) {
      if (setting.element) {
        setting.element.style.visibility = "visible";
        setting.element.style.display = "block";
      }
    } else {
      if (setting.element) {
        setting.element.style.visibility = "hidden";
        setting.element.style.display = "none";
      }
    }
    const toast = document.querySelector('.toast');
if (toast) {
  document.body.removeChild(toast);
}
  });

  Form.fileURL.focus();
}
</SCRIPT>

    <div class="text-center">
    <p style="font-size:20px"> Select your task</p>
<select name="action" onchange="java_script_:show(this.options[this.selectedIndex].value)">
    <option value = "select">select...</option>
    <option value = "adduser">Add New User</option>
    <option value = "modautofs">Add New Mount to AutoFS</option>
    <option value = "newautofs">Create New AutoFS group</option>
    <option value = "newsecgroup">Create New Security group</option>
    <option value = "AFSmanager">Manage Autofs Groups</option>
</select>
</div>

<div id='settingsAddUser' class="text-center" style="display:none">
         <p>All fields are required</p>
         <p>username: <input type = "text" name = "username" value = username /></p>
         <p>first name: <input type = "text" name = "fname" value = fname /></p>
         <p>last name: <input type = "text" name = "lname" value = lname /></p>
         <p>email: <input type = "text" name = "email" value = email /></p>

    <p>Select user autofs server / nfs share:</p>
    <select id="userafsserver" name="userafsserver">
         {% for server in afsserverlist %}
             <option value="{{ server }}"> "{{ server }}"</option>
         {% endfor %}
    </select>

         <p>Select one or more Autofs groups from the list below:</p>

         <select multiple id="afsusergroup" name="afsusergroup" size=10>
         {% for item in afsusergroups %}
             <option value="{{ item }}"> "{{ item }}"</option>
         {% endfor %}
         <option value="ostaff">"office staff"</option>
        </select>

        <p>Select user primary AD group:</p>
    <select id="userprimarygroup" name="userprimarygroup">
         {% for group in secgrouplist %}
             <option value="{{ group }}"> "{{ group }}"</option>
         {% endfor %}
    </select>

        <p>Select additional user AD group(s):</p>
	<select multiple id="usersecgroup" name="usersecgroup" size=10>
         {% for group in secgrouplist %}
             <option value="{{ group }}"> "{{ group }}"</option>
         {% endfor %}
	</select>

         <p><input type = "submit" name = "submit_button" class="btn btn-outline-primary" value = "submit User" /></p>
</div>

<div id='settingsModAutofs' class="text-center" style="display:none">
         <p style="font-size:20px"> All fields are required </p>
        <select multiple id="afsgroup" name="afsgroup">
         {% for item in afsgroups %}
             <option value="{{ item }}"> "{{ item }}"</option>
         {% endfor %}
        </select>
         <p>AutoFS path<input type ="text" name = "autofspath" value = "server.fqdn:/share/path" /></p>
         <p>AutoFS local mountpoint<input type ="text" name = "autofsmountpoint" value = "/home/dir" /></p>
         <p><input type = "submit" name = "submit_button" class="btn btn-outline-primary" value = "submit Autofs" /></p>
</div>

<div id='settingsNewAutofs' class="text-center" style="display:none">
         <p style="font-size:20px"> All fields are required </p>
    <p>enter group names one per line</p>
         <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
         <p><input type = "submit" name = "submit_button" class="btn btn-outline-primary" value = "submit AutoFS group" /></p>
</div>

<div id='settingsNewSecgroup' class="text-center" style="display:none">
         <p>All fields are required</p>
         <p>groupname: <input type = "text" name = "groupname" value = groupname /></p>
         <p>description: <input type = "text" name = "groupdesc" value = groupdesc /></p>
    <p><input type = "submit" name = "submit_button" class="btn btn-outline-primary" value = "submit security group" /></p>
</div>



<div id='settingsAFSmanager' class="container" style="display:none">
  <div class="row">
    <div class="col">
      <h3>Source Options</h3>
      <select id="sourceBox" style="width:auto" size="20" multiple>
        <option value="1">Option 1 this is a very wide option</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </select>
    </div>
          <div class="col">
      <br><br>
      <button id="copyBtn" type="button" class="btn btn-outline-primary">Copy</button>
              <br><br>
      <p><input type="submit" name="submit_button" class="btn btn-outline-primary" value="submit" onclick="selectAll()"/></p>
    </div>
    <div class="col">
      <h3>Destination Options</h3>
      <select id="destinationbox" name="destinationbox" size="20" style="width:auto" multiple>
        <option value="5">Option 5 this is a very wide option</option>
        <option value="6">Option 6</option>
        <option value="7">Option 7</option>
        <option value="8">Option 8</option>
        <option value="9">Option 9</option>
      </select>
    </div>
  </div>
</div>

	<script>
		const sourceBox = document.getElementById('sourceBox');
		const destinationbox = document.getElementById('destinationbox');
		const copyBtn = document.getElementById('copyBtn');

		copyBtn.addEventListener('click', () => {
			for (const option of sourceBox.options) {
				if (option.selected) {
					const newOption = new Option(option.text, option.value);
					destinationbox.add(newOption);
				}
			}
		});
	</script>

<script>
function selectAll() {
  const destinationBox = document.getElementById('destinationbox');
  for (let i = 0; i < destinationBox.options.length; i++) {
    destinationBox.options[i].selected = true;
  }
}
</script>

</div>
</form>
</body>
</html>
