<!DOCTYPE html>
<html lang="en">
    <head>{% include 'shared/head.html.j2' %}</head>
    <body>
        {% include 'shared/nav.html.j2' %}
        <form action="/add_user" method="POST">
            <div id="settingsAddUser" class="text-center">
                <p>All fields are required</p>
                <p>
                    username:
                    <input type="text" name="username" value="username" />
                </p>
                <p>
                    first name:
                    <input type="text" name="fname" value="fname" />
                </p>
                <p>
                    last name:
                    <input type="text" name="lname" value="lname" />
                </p>
                <p>
                    email:
                    <input type="text" name="email" value="email" />
                </p>
                <p>
                    description:
                    <textarea class="resizable-textarea" name="description">
description</textarea>
                </p>
                <p>Select user department:</p>
                <select id="department" name="department">
                    {% for departments in departmentlist %}<option value="{{ departments }}">"{{ departments }}"</option>{% endfor %}
                </select>
                <p>Select user autofs server / nfs share:</p>
                <select id="userafsserver" name="userafsserver">
                    {% for server in afsserverlist %}<option value="{{ server }}">"{{ server }}"</option>{% endfor %}
                </select>
                <p>Select one or more Autofs groups from the list below:</p>
                <select multiple id="afsusergroup" name="afsusergroup" size="10">
                    {% for item in afsusergroups %}<option value="{{ item }}">"{{ item }}"</option>{% endfor %}
                    <option value="ostaff">"office staff"</option>
                </select>
                <p>Select user primary AD group:</p>
                <select id="userprimarygroup" name="userprimarygroup">
                    {% for group in secgrouplist %}<option value="{{ group }}">"{{ group }}"</option>{% endfor %}
                </select>
                <p>Select additional user AD group(s):</p>
                <select multiple id="usersecgroup" name="usersecgroup" size="10">
                    {% for group in secgrouplist %}<option value="{{ group }}">"{{ group }}"</option>{% endfor %}
                </select>
                <p>
                    <input type="hidden" name="selected_option" id="selectedOption" />
                </p>
                <p>
                    <input type="submit"
                           name="submit_button"
                           class="btn btn-outline-primary"
                           value="AddUser"
                           onclick="setSelectedOption('adduser')" />
                </p>
            </div>
        </form>
    </body>
</html>
