<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/users">Add New User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/autofs_mounts">Add New Mount to AutoFS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/autofs_groups">Create New AutoFS Group</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/secgroups">Create New Security Group</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/manage_autofs_groups">Manage AutoFS Groups</a>
    </li>
</ul>
