<!DOCTYPE html>
<html lang="en">
    {% include 'shared/head.html.j2' %}
    <body>
        {% include 'shared/nav.html.j2' %}
        <p style="font-size:20px; color: #000000" class="text-center">Welcome to GUAM (GRIT User and AutoFS Manager)</p>
        <p style="font-size:15px; color: #000000" class="text-center">
            This page will assist you with creating new users and managing AutoFS mounts
        </p>
    </body>
</html>
