<!DOCTYPE html>
<html lang="en">
    <head>{% include 'shared/head.html.j2' %}</head>
    <body>
        {% include 'shared/nav.html.j2' %}
        <div id='settingsAFSmanager' class="container">
            <div class="row">
                <div class="col">
                    <h3>Source Options</h3>
                    <label for="sourceDropdown">Source:</label>
                    <select id="sourceDropdown" onchange="loadSourceOptions()">
                        <option value="">--Select Source--</option>
                        <option value="source1">Source 1</option>
                        <option value="source2">Source 2</option>
                    </select>
                    <select id="sourceBox" style="width:auto" size="20" multiple>
                        <option value="1">Option 1 this is a very wide option</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                </div>
                <div class="col">
                    <br>
                    <br>
                    <button id="copyBtn" type="button" class="btn btn-outline-primary">Copy</button>
                    <br>
                    <br>
                    <p>
                        <input type="submit"
                               name="submit_button"
                               class="btn btn-outline-primary"
                               value="ManageAFS"
                               onclick="selectAll(); setSelectedOption('AFSmanager')">
                    </p>
                </div>
                <div class="col">
                    <h3>Destination Options</h3>
                    <label for="destinationDropdown">Destination:</label>
                    <select id="destinationDropdown" onchange="loadDestinationOptions()">
                        <option value="">--Select Destination--</option>
                        <option value="destination1">Destination 1</option>
                        <option value="destination2">Destination 2</option>
                    </select>
                    <select id="destinationbox"
                            name="destinationbox"
                            size="20"
                            style="width:auto"
                            multiple>
                        <option value="5">Option 5 this is a very wide option</option>
                        <option value="6">Option 6</option>
                        <option value="7">Option 7</option>
                        <option value="8">Option 8</option>
                        <option value="9">Option 9</option>
                    </select>
                </div>
            </div>
        </div>
    </body>
</html>
