<!DOCTYPE html>
<html lang="en">
    {% include 'shared/head.html.j2' %}
    <body>
        {% include 'shared/nav.html.j2' %}
        <form action="/secgroups" method="POST">
            <div id='settingsNewSecgroup' class="text-center">
                <p>All fields are required</p>
                <p>
                    groupname:
                    <input type = "text" name = "groupname" placeholder = groupname />
                </p>
                <p>
                    description:
                    <input type = "text" name = "groupdesc" placeholder = groupdesc />
                </p>
                <p>
                    <input type="submit"
                           name="submit_button"
                           class="btn btn-outline-primary"
                           value="AddSecGroup"
                           onclick="setSelectedOption('newsecgroup')">
                </p>
            </div>
        </form>
    </body>
</html>
